<html>
<head>
	<link href="/prepay/css/main.css" rel="stylesheet" type="text/css" />
	<script src="/prepay/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<title>{% block title %}PrePay{% endblock %}</title>
</head>
<body>
	
<div id="header">
	{% block header %}
		PrePay&trade;
	{% endblock %}
</div>

<br clear="all"/>

<div id="content">
	{% block content %}
	{% endblock %}
</div>

<div id="footer">
	{% block footer %}
	Daniel Kim, Jennifer Lin, Lara Lu, Michael Mitchell, Zaheer Zaheer
	{% endblock %}
</div>

</body>
