{% extends "prepay/base.html" %}

{% load url from future %}

{% block content %}

<h2>Browse Listings</h2>

{% if all_listings %}
	{% for listing in all_listings %}
	<p>
		<a href="{% url 'listing_detail' listing.pk %}"><img src="{{ listing.product.get_picture_url }}" width="150" align="left" style="border:none; padding-right:8px;"></a>
		<a href="{% url 'listing_detail' listing.pk %}">{{ listing.name }}</a><br/>
		{{ listing.description|truncatewords:40 }}<br/>
		<b>Product:</b> {{ listing.product.name }}<br/>
		<b>Seller:</b> {{listing.seller.name}}<br/>
		<b>Categories:</b> {% for c in listing.product.categories.all %} {{ c.name }}, {% endfor %}<br/>
		<a href="{% url 'listing_detail' listing.pk %}">Listing Detail</a>
	</p>
	<br clear="all"/>
	
	{% endfor %}
{% else %}
	<p>No Listings are available.</p>
{% endif %}


{% endblock %}




