{% extends "prepay/base.html" %}

{% load url from future %}

{% block content %}

<h2>Seller Profile</h2>

Name: {{user.name}}<br/>
Rating: {{user.rating}}<br/>
Username: {{user.username}}<br/>
Password: <a href= "{% url 'admin:password_change' %}">Change password?</a><br/>
Email: {{user.email}}<br/>
Products: 
{% for p in user.products.all %}
    {{ p.name }}
{% empty %}
    No products!
{% endfor %}
<br/>

<!-- http://mitchgt.com/prepay/admin/prepay/listing/add/ -->
<a href = "{% url 'admin:prepay_product_add' %}">Add a new product?</a><br/>
<!--Listings: {{listings}}<br/>-->
<a href = "{% url 'admin:prepay_listing_add' %}">Create a new listing?</a><br/>

{% endblock %}